<?xml version="1.0"?>

<launch>

    <!-- Object load controller -->
    <arg name="node_name" default="kdemo_record_node" />
    <node pkg="kdemo_record" type="kdemo_record" name="$(arg node_name)"
          output="screen" cwd="node">

          <param name="robot_type" value="lwr4p" type="str"/>

    </node>


</launch>
